In [67]:
#Test

In [68]:
#Test

In [3]:
pwd

'/home/ulrz'

In [4]:
cd advent

/home/ulrz/advent

In [5]:
dir

In [6]:
pwd

'/home/ulrz/advent'

In [7]:
ls

README.md  day1input.txt

In [69]:
# cat day1input.txt

In [71]:
#Test

In [72]:
#Test

In [73]:
#Test

In [12]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-1.3.5-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.3 MB)
     |████████████████████████████████| 11.3 MB 18.1 MB/s
Collecting numpy>=1.17.3
  Downloading numpy-1.21.5-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.7 MB)
     |████████████████████████████████| 15.7 MB 52.2 MB/s
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: numpy, pandas
  WARNING: The scripts f2py, f2py3 and f2py3.7 are installed in '/home/ulrz/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed numpy-1.21.5 pandas-1.3.5
Note: you may need to restart the kernel to use updated packages.

In [13]:
import pandas as pd

In [14]:
pip install wheel

Defaulting to user installation because normal site-packages is not writeable
Collecting wheel
  Using cached wheel-0.37.1-py2.py3-none-any.whl (35 kB)
Installing collected packages: wheel
  WARNING: The script wheel is installed in '/home/ulrz/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed wheel-0.37.1
Note: you may need to restart the kernel to use updated packages.

In [74]:
#Test

In [2]:
ls

Adventcode.ipynb  Untitled.ipynb   advent/             pyproject.toml*
NNEAP/            Untitled1.ipynb  mount_datasets.py*
NNEDL/            Untitled2.ipynb  poetry.lock

In [3]:
cd advent

/home/ulrz/advent

In [4]:
ls

README.md  day1input.txt

In [5]:
input = pd.read_csv('day1input.txt', header = None)

In [6]:
ls

README.md  day1input.txt

In [7]:
input

         0
0      159
1      158
2      174
3      196
4      197
...    ...
1995  8538
1996  8543
1997  8545
1998  8557
1999  8568

[2000 rows x 1 columns]

In [75]:
#Test

In [9]:
print (input)

         0
0      159
1      158
2      174
3      196
4      197
...    ...
1995  8538
1996  8543
1997  8545
1998  8557
1999  8568

[2000 rows x 1 columns]

In [76]:
#Test

In [11]:
del input

In [77]:
#Test

In [78]:
#Test

In [79]:
#Test

In [80]:
#Test

In [16]:
input = pd.read_csv('day1input.txt', names = ['Nr', 'Dybde'])

In [17]:
ls input

ls: cannot access input: No such file or directory

In [18]:
cat input

cat: input: No such file or directory

In [19]:
ls

README.md  day1input.txt

In [20]:
print(input)

        Nr  Dybde
0      159    NaN
1      158    NaN
2      174    NaN
3      196    NaN
4      197    NaN
...    ...    ...
1995  8538    NaN
1996  8543    NaN
1997  8545    NaN
1998  8557    NaN
1999  8568    NaN

[2000 rows x 2 columns]

In [21]:
del input

In [22]:
input = pd.read_csv('day1input.txt', names = ['Dybde'])

In [23]:
print(input)

      Dybde
0       159
1       158
2       174
3       196
4       197
...     ...
1995   8538
1996   8543
1997   8545
1998   8557
1999   8568

[2000 rows x 1 columns]

In [24]:
input['diff'] = input['Dybde'] - input['Dybde'].shift(1)

In [25]:
print(input)

      Dybde  diff
0       159   NaN
1       158  -1.0
2       174  16.0
3       196  22.0
4       197   1.0
...     ...   ...
1995   8538   3.0
1996   8543   5.0
1997   8545   2.0
1998   8557  12.0
1999   8568  11.0

[2000 rows x 2 columns]

In [81]:
#Test

In [82]:
#Test

In [28]:
len(input)

2000

In [83]:
#Test

In [84]:
#Test

In [85]:
#Test

In [32]:
len(input['diff'] > 0)

2000

In [33]:
cat input

cat: input: No such file or directory

In [34]:
print(input)

      Dybde  diff
0       159   NaN
1       158  -1.0
2       174  16.0
3       196  22.0
4       197   1.0
...     ...   ...
1995   8538   3.0
1996   8543   5.0
1997   8545   2.0
1998   8557  12.0
1999   8568  11.0

[2000 rows x 2 columns]

In [86]:
#Test

In [36]:
len(input.query('diff > 0'))

1583

In [39]:
input.head()

   Dybde  diff
0    159   NaN
1    158  -1.0
2    174  16.0
3    196  22.0
4    197   1.0

(0,
 Dybde    159.0
 diff       NaN
 Name: 0, dtype: float64)

In [41]:
next(input.iterrows())

(0,
 Dybde    159.0
 diff       NaN
 Name: 0, dtype: float64)

In [42]:
next(input.iterrows())[1]

Dybde    159.0
diff       NaN
Name: 0, dtype: float64

In [87]:
#Test

In [44]:
for index, row in input.head(n=1).iterrows():
     print(index, row)

0 Dybde    159.0
diff       NaN
Name: 0, dtype: float64

In [50]:
for index, row in input.head(n=1998).iterrows():
     print(index, row)

0 Dybde    159.0
diff       NaN
Name: 0, dtype: float64
1 Dybde    158.0
diff      -1.0
Name: 1, dtype: float64
2 Dybde    174.0
diff      16.0
Name: 2, dtype: float64
3 Dybde    196.0
diff      22.0
Name: 3, dtype: float64
4 Dybde    197.0
diff       1.0
Name: 4, dtype: float64
5 Dybde    194.0
diff      -3.0
Name: 5, dtype: float64
6 Dybde    209.0
diff      15.0
Name: 6, dtype: float64
7 Dybde    213.0
diff       4.0
Name: 7, dtype: float64
8 Dybde    214.0
diff       1.0
Name: 8, dtype: float64
9 Dybde    222.0
diff       8.0
Name: 9, dtype: float64

In [88]:
#Test

In [89]:
#Test

In [55]:
list = []

In [90]:
#Test

In [91]:
#Test

In [93]:
print(input)

      Dybde  diff Rolling
0       159   NaN
1       158  -1.0
2       174  16.0
3       196  22.0
4       197   1.0
...     ...   ...     ...
1995   8538   3.0
1996   8543   5.0
1997   8545   2.0
1998   8557  12.0
1999   8568  11.0

[2000 rows x 3 columns]

In [92]:
#Test

In [93]:
#Test

In [101]:
input.rolling = input.Dybde+1

In [102]:
print (input.rolling)

0        160
1        159
2        175
3        197
4        198
        ...
1995    8539
1996    8544
1997    8546
1998    8558
1999    8569
Name: Dybde, Length: 2000, dtype: int64

In [112]:
input["rolling"] = input.Dybde.rolling(window=3).sum()

In [113]:
input

      Dybde  diff Rolling  rolling
0       159   NaN              NaN
1       158  -1.0              NaN
2       174  16.0            491.0
3       196  22.0            528.0
4       197   1.0            567.0
...     ...   ...     ...      ...
1995   8538   3.0          25591.0
1996   8543   5.0          25616.0
1997   8545   2.0          25626.0
1998   8557  12.0          25645.0
1999   8568  11.0          25670.0

[2000 rows x 4 columns]

In [114]:
input["shifted_dybde"] = input.Dybde.shift()

In [117]:
input.Dybde + input.shifted_dybde

0           NaN
1         317.0
2         332.0
3         370.0
4         393.0
         ...
1995    17073.0
1996    17081.0
1997    17088.0
1998    17102.0
1999    17125.0
Length: 2000, dtype: float64

In [127]:
cumsum = 0
for i, row in input.head().iterrows():
   cumsum = cumsum + row.Dybde

print(cumsum)

884

In [ ]:
input["shifted"] = pd.NA

In [170]:
for i, row in input.head(1999).iterrows():
    if i>0:
       input.loc[i, "sum"] = input.loc[i-1, "Dybde"] + input.loc[i, "Dybde"] + input.loc[i+1, "Dybde"]

In [171]:
input

      Dybde  diff Rolling  rolling  shifted_dybde shifted sumdiff      sum
0       159   NaN              NaN            NaN    <NA>    <NA>      NaN
1       158  -1.0              NaN          159.0     587    <NA>    491.0
2       174  16.0            491.0          158.0     528      37    528.0
3       196  22.0            528.0          174.0     567      39    567.0
4       197   1.0            567.0          196.0     587      20    587.0
...     ...   ...     ...      ...            ...     ...     ...      ...
1995   8538   3.0          25591.0         8535.0   25616      25  25616.0
1996   8543   5.0          25616.0         8538.0   25626      10  25626.0
1997   8545   2.0          25626.0         8543.0   25645      19  25645.0
1998   8557  12.0          25645.0         8545.0    <NA>    <NA>  25670.0
1999   8568  11.0          25670.0         8557.0    <NA>    <NA>      NaN

[2000 rows x 8 columns]

6

In [173]:
input['sumdiff'] = input['sum'] - input['sum'].shift(1)

In [174]:
len(input.query('sumdiff > 0'))

1627

In [162]:
input.shifted

0        <NA>
1         491
2         528
3         567
4         587
        ...
1995    25616
1996    25626
1997    25645
1998     <NA>
1999     <NA>
Name: shifted, Length: 2000, dtype: object

In [9]:
import pandas as pd
input2 = pd.read_csv('day2input.txt', names = ['Position'])

In [10]:
input2

      Position
0    forward 2
1    forward 3
2    forward 5
3    forward 6
4       down 7
..         ...
995       up 5
996  forward 3
997  forward 2
998     down 3
999  forward 4

[1000 rows x 1 columns]

In [51]:
input2['nr'] = 0
input2['nr'] = input2.Position.str.extract('(\d+)')
input2['nr'] = pd.to_numeric(input2['nr'])

In [94]:
#Test

In [52]:
input2['first'] = input2['Position'].astype(str).str[0]

In [56]:
forwardpos = input2.loc[input2['first'] == 'f', 'nr'].sum()

In [57]:
downpos = input2.loc[input2['first'] == 'd', 'nr'].sum()

In [58]:
uppos = input2.loc[input2['first'] == 'u', 'nr'].sum()

In [59]:
sumdybde = downpos - uppos

In [60]:
sumdybde

879

In [61]:
forwardpos

1925

In [62]:
resultat = sumdybde * forwardpos

In [63]:
resultat

1692075

In [95]:
#Day 2 part 2

In [110]:
input2['ud'] = input2.loc[input2['first'] != 'f', 'nr']

#if input2['first'] == 'd' or  input2['first'] == 'u':
 #   input2['aim'] = input2['nr']

In [133]:
input2['d'] = input2.loc[input2['first'] == 'd', 'nr']
input2['u'] = input2.loc[input2['first'] == 'u', 'nr']
input2['f'] = input2.loc[input2['first'] == 'f', 'nr']
input2['u'] = input2['u']*-1

input2['u'] = input2['u'].fillna(0)
input2['d'] = input2['d'].fillna(0)
input2['f'] = input2['f'].fillna(0)

In [135]:
input2['aim'] = input2['u'] + input2['d']

In [136]:
input2['aimsum'] = input2['aim'].cumsum()

In [137]:
input2['dybde'] = input2['aimsum'] * input2['f']
input2.head(15)

     Position  nr first  aim    d    u   ud  aimsum    f  dybde
0   forward 2   2     f  0.0  0.0  0.0  NaN     0.0  2.0    0.0
1   forward 3   3     f  0.0  0.0  0.0  NaN     0.0  3.0    0.0
2   forward 5   5     f  0.0  0.0  0.0  NaN     0.0  5.0    0.0
3   forward 6   6     f  0.0  0.0  0.0  NaN     0.0  6.0    0.0
4      down 7   7     d  7.0  7.0  0.0  7.0     7.0  0.0    0.0
5   forward 8   8     f  0.0  0.0  0.0  NaN     7.0  8.0   56.0
6   forward 4   4     f  0.0  0.0  0.0  NaN     7.0  4.0   28.0
7   forward 7   7     f  0.0  0.0  0.0  NaN     7.0  7.0   49.0
8   forward 5   5     f  0.0  0.0  0.0  NaN     7.0  5.0   35.0
9   forward 5   5     f  0.0  0.0  0.0  NaN     7.0  5.0   35.0
10     down 4   4     d  4.0  4.0  0.0  4.0    11.0  0.0    0.0
11     down 9   9     d  9.0  9.0  0.0  9.0    20.0  0.0    0.0
12  forward 8   8     f  0.0  0.0  0.0  NaN    20.0  8.0  160.0
13  forward 5   5     f  0.0  0.0  0.0  NaN    20.0  5.0  100.0
14       up 5   5     u -5.0  0.0 -5.0  5.0    15.0  0.0    0.0

In [141]:
dybde = input2['dybde'].sum()
forward = input2['f'].sum()

In [144]:
resultat2 = dybde * forward
print(resultat2)

1749524700.0

In [1]:
#Day 3