In [1]:
pip install jupyterlab-git

Defaulting to user installation because normal site-packages is not writeable
Collecting jupyterlab-git
  Downloading jupyterlab_git-0.34.0-py3-none-any.whl (523 kB)
     |████████████████████████████████| 523 kB 28.3 MB/s
Requirement already satisfied: jupyter-server in /usr/local/lib/python3.7/site-packages (from jupyterlab-git) (1.13.0)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/site-packages (from jupyterlab-git) (4.8.0)
Collecting nbdime~=3.1
  Downloading nbdime-3.1.1-py2.py3-none-any.whl (5.3 MB)
     |████████████████████████████████| 5.3 MB 24.2 MB/s
Requirement already satisfied: nbformat in /usr/local/lib/python3.7/site-packages (from jupyterlab-git) (5.1.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/site-packages (from jupyterlab-git) (21.3)
Requirement already satisfied: jinja2>=2.9 in /usr/local/lib/python3.7/site-packages (from nbdime~=3.1->jupyterlab-git) (3.0.3)
Requirement already satisfied: tornado in /usr/local/lib64/python3.7/site-packages (from nbdime~=3.1->jupyterlab-git) (6.1)
Collecting colorama
  Downloading colorama-0.4.4-py2.py3-none-any.whl (16 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/site-packages (from nbdime~=3.1->jupyterlab-git) (2.26.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/site-packages (from nbdime~=3.1->jupyterlab-git) (2.10.0)
Collecting GitPython!=2.1.4,!=2.1.5,!=2.1.6
  Downloading GitPython-3.1.24-py3-none-any.whl (180 kB)
     |████████████████████████████████| 180 kB 67.8 MB/s
Collecting jupyter-server-mathjax>=0.2.2
  Downloading jupyter_server_mathjax-0.2.3-py3-none-any.whl (3.1 MB)
     |████████████████████████████████| 3.1 MB 62.9 MB/s
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/site-packages (from jupyter-server->jupyterlab-git) (6.3.0)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.7/site-packages (from jupyter-server->jupyterlab-git) (0.12.1)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/site-packages (from jupyter-server->jupyterlab-git) (1.8.0)
Requirement already satisfied: websocket-client in /usr/local/lib/python3.7/site-packages (from jupyter-server->jupyterlab-git) (1.2.2)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.7/site-packages (from jupyter-server->jupyterlab-git) (0.12.0)
Requirement already satisfied: traitlets>=4.2.1 in /usr/local/lib/python3.7/site-packages (from jupyter-server->jupyterlab-git) (5.1.1)
Requirement already satisfied: pyzmq>=17 in /usr/local/lib64/python3.7/site-packages (from jupyter-server->jupyterlab-git) (22.3.0)
Requirement already satisfied: jupyter-client>=6.1.1 in /usr/local/lib/python3.7/site-packages (from jupyter-server->jupyterlab-git) (7.1.0)
Requirement already satisfied: jupyter-core>=4.6.0 in /usr/local/lib/python3.7/site-packages (from jupyter-server->jupyterlab-git) (4.9.1)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/site-packages (from jupyter-server->jupyterlab-git) (0.2.0)
Requirement already satisfied: anyio<4,>=3.1.0 in /usr/local/lib/python3.7/site-packages (from jupyter-server->jupyterlab-git) (3.4.0)
Requirement already satisfied: argon2-cffi in /usr/local/lib64/python3.7/site-packages (from jupyter-server->jupyterlab-git) (21.1.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.7/site-packages (from nbformat->jupyterlab-git) (4.2.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/site-packages (from packaging->jupyterlab-git) (3.0.6)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/site-packages (from pexpect->jupyterlab-git) (0.7.0)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.7/site-packages (from anyio<4,>=3.1.0->jupyter-server->jupyterlab-git) (3.3)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.7/site-packages (from anyio<4,>=3.1.0->jupyter-server->jupyterlab-git) (1.2.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/site-packages (from anyio<4,>=3.1.0->jupyter-server->jupyterlab-git) (4.0.1)
Collecting gitdb<5,>=4.0.1
  Downloading gitdb-4.0.9-py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 3.9 MB/s
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib64/python3.7/site-packages (from jinja2>=2.9->nbdime~=3.1->jupyterlab-git) (2.0.1)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->jupyterlab-git) (4.8.2)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib64/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->jupyterlab-git) (0.18.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->jupyterlab-git) (21.2.0)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->jupyterlab-git) (5.4.0)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.7/site-packages (from jupyter-client>=6.1.1->jupyter-server->jupyterlab-git) (0.3)
Requirement already satisfied: nest-asyncio>=1.5 in /usr/local/lib/python3.7/site-packages (from jupyter-client>=6.1.1->jupyter-server->jupyterlab-git) (1.5.4)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/site-packages (from jupyter-client>=6.1.1->jupyter-server->jupyterlab-git) (2.8.2)
Requirement already satisfied: cffi>=1.0.0 in /usr/local/lib64/python3.7/site-packages (from argon2-cffi->jupyter-server->jupyterlab-git) (1.15.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/site-packages (from nbconvert->jupyter-server->jupyterlab-git) (0.8.4)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in /usr/local/lib/python3.7/site-packages (from nbconvert->jupyter-server->jupyterlab-git) (0.5.9)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/site-packages (from nbconvert->jupyter-server->jupyterlab-git) (0.5.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/site-packages (from nbconvert->jupyter-server->jupyterlab-git) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in /usr/local/lib/python3.7/site-packages (from nbconvert->jupyter-server->jupyterlab-git) (0.1.2)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/site-packages (from nbconvert->jupyter-server->jupyterlab-git) (4.1.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/site-packages (from nbconvert->jupyter-server->jupyterlab-git) (1.5.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/site-packages (from requests->nbdime~=3.1->jupyterlab-git) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/site-packages (from requests->nbdime~=3.1->jupyterlab-git) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/site-packages (from requests->nbdime~=3.1->jupyterlab-git) (2.0.9)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/site-packages (from cffi>=1.0.0->argon2-cffi->jupyter-server->jupyterlab-git) (2.21)
Collecting smmap<6,>=3.0.1
  Downloading smmap-5.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.7/site-packages (from importlib-resources>=1.4.0->jsonschema!=2.5.0,>=2.4->nbformat->jupyterlab-git) (3.6.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/site-packages (from python-dateutil>=2.1->jupyter-client>=6.1.1->jupyter-server->jupyterlab-git) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/site-packages (from bleach->nbconvert->jupyter-server->jupyterlab-git) (0.5.1)
Installing collected packages: smmap, gitdb, jupyter-server-mathjax, GitPython, colorama, nbdime, jupyterlab-git
  WARNING: The scripts git-nbdiffdriver, git-nbdifftool, git-nbmergedriver, git-nbmergetool, hg-nbdiff, hg-nbdiffweb, hg-nbmerge, hg-nbmergeweb, nbdiff, nbdiff-web, nbdime, nbmerge, nbmerge-web and nbshow are installed in '/home/ulrz/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed GitPython-3.1.24 colorama-0.4.4 gitdb-4.0.9 jupyter-server-mathjax-0.2.3 jupyterlab-git-0.34.0 nbdime-3.1.1 smmap-5.0.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
conda install -c conda-forge jupyterlab-git

ValueError: The python kernel does not appear to be a conda environment.  Please use ``%pip install`` instead.

In [3]:
pwd

'/home/ulrz'

In [4]:
cd advent

/home/ulrz/advent

In [5]:
dir

In [6]:
pwd

'/home/ulrz/advent'

In [7]:
ls

README.md  day1input.txt

In [8]:
cat day1input.txt

159
158
174
196
197
194
209
213
214
222
223
228
229
236
237
238
241
248
255
256
257
269
276
292
302
304
308
309
311
315
314
320
323
324
329
330
311
340
341
342
341
347
349
350
367
370
378
379
378
379
389
390
393
388
393
402
405
404
402
410
411
441
449
448
449
450
412
414
415
418
420
440
439
458
459
457
463
465
469
470
479
480
481
482
475
468
467
472
484
486
498
489
493
511
510
493
495
494
514
517
520
521
544
557
563
565
568
572
571
572
575
584
583
599
600
605
612
615
618
625
627
633
663
665
666
669
683
706
716
722
731
734
739
741
754
760
765
783
788
795
811
813
818
805
816
821
829
830
854
855
850
859
860
866
867
866
867
874
875
876
870
875
878
880
884
898
915
918
922
923
949
942
945
949
970
956
969
964
972
973
975
974
970
989
990
993
994
1002
1003
1007
1013
1025
1035
1033
1040
1045
1055
1056
1057
1059
1060
1063
1051
1056
1057
1047
1054
1055
1051
1052
1058
1061
1066
1067
1070
1074
1075
1076
1084
1122
1128
1140
1141
1139
1152
1151
1152
1156
1167
1166
1165
1169
1162
1175
1202
1212
1218
1219
1240
1238
1224
1230
1245
1253
1285
1295
1297
1309
1323
1329
1333
1336
1339
1318
1321
1318
1345
1347
1349
1352
1353
1360
1358
1345
1352
1356
1357
1370
1373
1393
1423
1424
1431
1447
1454
1444
1470
1477
1479
1485
1483
1497
1518
1536
1539
1544
1549
1558
1557
1581
1585
1591
1632
1633
1636
1639
1633
1637
1638
1639
1640
1642
1658
1676
1675
1707
1708
1709
1710
1711
1715
1707
1712
1733
1734
1732
1722
1730
1746
1747
1748
1749
1755
1759
1771
1772
1771
1770
1771
1773
1772
1771
1780
1781
1782
1781
1775
1786
1798
1814
1818
1826
1791
1793
1796
1821
1822
1825
1834
1838
1867
1907
1908
1910
1921
1926
1924
1921
1941
1945
1958
1957
1978
1973
1974
1977
1978
1984
1992
1998
2002
1998
1993
1984
2013
2014
2017
2016
2019
2024
2031
2032
2042
2041
2047
2055
2057
2059
2066
2086
2090
2091
2094
2112
2113
2123
2125
2123
2124
2135
2152
2155
2158
2157
2169
2168
2166
2167
2168
2185
2190
2189
2190
2198
2170
2171
2177
2184
2186
2187
2162
2174
2175
2172
2180
2182
2188
2213
2226
2228
2227
2216
2220
2221
2220
2212
2215
2220
2223
2226
2228
2236
2237
2238
2258
2257
2256
2260
2261
2271
2294
2297
2309
2311
2327
2326
2340
2339
2342
2343
2346
2352
2363
2364
2371
2386
2387
2392
2401
2407
2415
2418
2432
2457
2458
2459
2461
2463
2464
2465
2486
2487
2490
2509
2510
2518
2522
2525
2527
2521
2522
2526
2529
2530
2552
2548
2564
2566
2568
2569
2570
2565
2576
2577
2581
2582
2587
2588
2568
2569
2563
2575
2576
2577
2578
2588
2603
2604
2605
2620
2622
2627
2630
2639
2629
2631
2632
2644
2646
2655
2658
2663
2660
2659
2657
2655
2656
2657
2658
2669
2679
2678
2684
2677
2721
2728
2729
2728
2729
2730
2733
2742
2730
2731
2733
2735
2740
2750
2746
2748
2751
2771
2786
2792
2797
2799
2803
2814
2825
2832
2839
2844
2854
2833
2842
2844
2866
2868
2871
2872
2876
2877
2901
2910
2916
2940
2951
2966
2967
2972
2976
2978
2977
2980
2993
3004
3005
3031
3030
3036
3035
3038
3041
3040
3043
3046
3068
3080
3081
3101
3104
3111
3118
3119
3112
3111
3113
3140
3165
3164
3174
3184
3200
3183
3185
3187
3188
3197
3215
3233
3232
3243
3220
3221
3224
3226
3263
3275
3286
3287
3300
3304
3314
3316
3311
3314
3324
3325
3329
3347
3341
3346
3348
3363
3369
3396
3384
3390
3391
3394
3393
3399
3405
3411
3417
3408
3378
3383
3379
3385
3386
3406
3397
3374
3378
3373
3358
3357
3381
3387
3422
3420
3415
3416
3432
3419
3422
3423
3436
3437
3439
3441
3449
3453
3488
3499
3513
3536
3576
3570
3569
3570
3571
3575
3573
3617
3594
3589
3587
3596
3583
3588
3589
3583
3594
3612
3617
3634
3628
3629
3630
3640
3642
3647
3644
3657
3658
3657
3660
3661
3662
3681
3684
3694
3698
3697
3707
3709
3710
3723
3741
3747
3752
3753
3747
3751
3756
3752
3781
3800
3804
3792
3809
3805
3806
3812
3813
3814
3818
3820
3835
3836
3837
3806
3812
3837
3840
3845
3842
3879
3880
3890
3919
3927
3929
3920
3916
3928
3892
3865
3876
3913
3933
3934
3901
3902
3903
3909
3910
3911
3912
3920
3949
3944
3946
3947
3963
3976
3977
3979
3985
3997
4006
4014
4021
4026
4030
4031
4054
4044
4045
4055
4053
4051
4055
4068
4066
4068
4069
4072
4071
4063
4064
4067
4075
4099
4140
4141
4172
4171
4172
4182
4191
4192
4194
4201
4207
4211
4213
4220
4258
4257
4256
4258
4271
4270
4263
4265
4266
4292
4290
4297
4298
4299
4316
4333
4335
4346
4349
4354
4355
4357
4373
4371
4361
4366
4369
4373
4374
4378
4380
4394
4395
4400
4406
4412
4419
4417
4424
4440
4443
4449
4459
4461
4466
4461
4463
4462
4464
4472
4475
4476
4478
4464
4481
4483
4493
4504
4505
4513
4516
4527
4526
4514
4515
4544
4545
4560
4562
4561
4573
4572
4571
4592
4600
4589
4606
4612
4628
4629
4597
4623
4624
4619
4620
4636
4637
4647
4649
4650
4653
4655
4663
4681
4677
4696
4698
4704
4709
4706
4696
4698
4697
4698
4711
4716
4740
4741
4742
4743
4740
4750
4742
4745
4753
4754
4755
4756
4757
4758
4788
4791
4802
4811
4800
4808
4817
4789
4809
4820
4821
4802
4804
4805
4807
4808
4799
4810
4807
4806
4791
4801
4808
4818
4828
4841
4837
4841
4860
4880
4909
4913
4910
4909
4925
4927
4929
4932
4933
4932
4933
4949
4938
4940
4930
4944
4950
4944
4957
4967
4973
4979
4974
4962
4949
4950
4952
4956
4961
4962
4981
4983
4985
5000
5001
5004
5031
5035
5036
5037
5040
5048
5057
5056
5045
5047
5031
5034
5036
5047
5065
5068
5069
5053
5046
5043
5048
5050
5059
5092
5088
5089
5090
5091
5090
5091
5104
5109
5112
5113
5107
5106
5121
5114
5122
5117
5135
5146
5149
5150
5151
5157
5158
5160
5158
5163
5181
5182
5160
5161
5131
5149
5152
5150
5151
5154
5153
5163
5170
5190
5193
5199
5201
5205
5206
5202
5206
5208
5209
5208
5212
5224
5225
5226
5234
5216
5239
5233
5232
5209
5218
5227
5226
5230
5233
5244
5249
5250
5251
5249
5266
5264
5296
5303
5322
5308
5331
5334
5339
5345
5346
5347
5350
5351
5357
5353
5354
5356
5357
5370
5371
5370
5373
5376
5384
5385
5392
5394
5395
5407
5413
5419
5422
5435
5432
5437
5440
5442
5444
5441
5442
5445
5447
5450
5459
5477
5478
5482
5476
5475
5476
5480
5481
5475
5487
5507
5506
5507
5510
5505
5508
5509
5520
5515
5518
5525
5511
5486
5516
5533
5532
5545
5548
5547
5560
5562
5566
5570
5574
5576
5586
5558
5566
5552
5541
5545
5553
5550
5546
5555
5551
5547
5562
5578
5604
5608
5614
5613
5601
5611
5622
5621
5619
5618
5625
5627
5630
5623
5624
5619
5616
5618
5629
5635
5636
5637
5638
5647
5648
5649
5650
5649
5650
5652
5655
5664
5665
5666
5673
5674
5689
5694
5696
5715
5716
5713
5712
5743
5767
5768
5769
5770
5778
5793
5794
5793
5799
5800
5803
5804
5805
5806
5829
5830
5833
5834
5836
5838
5844
5843
5851
5852
5851
5887
5891
5872
5877
5880
5875
5879
5880
5887
5878
5882
5884
5883
5864
5876
5882
5896
5899
5886
5887
5891
5894
5937
5934
5931
5940
5943
5941
5942
5951
5948
5958
5947
5945
5947
5958
5964
5967
5966
5957
5958
5959
5962
5946
5970
5978
5972
5986
5974
5968
5985
5997
6001
6042
6038
6041
6068
6082
6087
6090
6101
6102
6106
6110
6097
6098
6105
6106
6122
6121
6140
6173
6187
6193
6195
6197
6198
6208
6215
6217
6220
6232
6247
6248
6252
6249
6252
6269
6270
6274
6299
6301
6313
6334
6335
6342
6343
6344
6378
6377
6376
6378
6369
6362
6369
6371
6370
6379
6384
6387
6407
6373
6392
6402
6405
6407
6412
6420
6419
6422
6435
6436
6435
6437
6421
6422
6421
6425
6415
6431
6425
6426
6427
6426
6429
6443
6435
6454
6455
6456
6474
6475
6476
6483
6485
6489
6490
6493
6499
6505
6513
6517
6507
6508
6514
6516
6515
6530
6523
6520
6525
6513
6514
6529
6531
6524
6537
6525
6529
6535
6555
6561
6562
6570
6571
6572
6573
6579
6577
6579
6582
6593
6597
6600
6598
6593
6610
6612
6613
6614
6592
6593
6599
6593
6594
6559
6560
6564
6561
6560
6557
6562
6564
6538
6551
6552
6557
6567
6568
6566
6547
6549
6550
6551
6552
6547
6545
6550
6555
6561
6584
6597
6599
6607
6616
6619
6626
6637
6645
6646
6648
6664
6665
6669
6673
6677
6684
6698
6699
6700
6704
6712
6724
6738
6748
6751
6753
6756
6781
6782
6785
6794
6795
6770
6781
6777
6779
6784
6793
6785
6786
6790
6773
6778
6789
6799
6804
6805
6806
6816
6823
6829
6831
6834
6836
6838
6857
6859
6860
6889
6913
6914
6917
6919
6929
6924
6919
6924
6899
6904
6924
6925
6932
6936
6931
6921
6922
6923
6947
6951
6963
6960
6965
6970
6973
6965
6966
6978
7010
7015
7012
7017
7027
7035
7036
7026
7035
7007
7006
6997
6995
7003
7021
7028
7031
7041
7039
7056
7072
7080
7081
7055
7056
7088
7101
7105
7107
7108
7104
7105
7084
7087
7084
7088
7086
7098
7100
7081
7083
7081
7084
7085
7089
7098
7097
7101
7104
7105
7114
7117
7118
7115
7117
7122
7121
7127
7128
7132
7149
7166
7127
7122
7123
7124
7126
7127
7146
7148
7161
7166
7167
7160
7155
7154
7155
7158
7177
7189
7192
7194
7204
7212
7199
7206
7207
7212
7219
7198
7208
7217
7223
7216
7217
7224
7223
7222
7219
7223
7222
7224
7230
7231
7230
7231
7229
7231
7232
7228
7241
7243
7240
7239
7241
7248
7251
7254
7292
7297
7296
7297
7301
7306
7308
7311
7310
7312
7317
7319
7324
7323
7330
7332
7345
7352
7355
7382
7403
7391
7395
7416
7417
7418
7410
7411
7412
7414
7415
7429
7408
7407
7408
7411
7410
7413
7411
7408
7410
7408
7409
7410
7416
7417
7419
7420
7424
7428
7450
7453
7468
7469
7470
7449
7450
7435
7436
7455
7460
7461
7462
7465
7485
7496
7502
7503
7514
7526
7538
7528
7534
7543
7544
7545
7519
7531
7532
7539
7540
7542
7551
7567
7576
7574
7569
7579
7580
7588
7573
7578
7579
7581
7600
7634
7631
7630
7639
7648
7649
7652
7653
7656
7665
7635
7643
7649
7656
7657
7656
7661
7666
7674
7680
7676
7692
7677
7678
7689
7700
7723
7729
7738
7743
7748
7769
7770
7776
7784
7786
7788
7805
7806
7801
7825
7830
7832
7815
7816
7828
7830
7831
7834
7858
7860
7862
7873
7879
7883
7894
7910
7916
7917
7935
7942
7930
7932
7934
7935
7932
7936
7944
7951
7953
7954
7960
7963
7976
7968
7972
7977
7978
7976
7977
7991
8016
8056
8058
8059
8074
8078
8087
8088
8083
8088
8094
8103
8118
8114
8115
8111
8116
8115
8105
8106
8107
8108
8112
8120
8129
8134
8138
8137
8138
8152
8158
8171
8191
8201
8207
8209
8236
8237
8239
8244
8239
8241
8252
8243
8244
8260
8254
8248
8251
8246
8249
8262
8265
8266
8263
8264
8267
8273
8297
8302
8303
8302
8310
8313
8314
8332
8333
8306
8308
8307
8334
8332
8329
8330
8332
8337
8338
8343
8350
8349
8361
8365
8368
8371
8372
8375
8402
8412
8445
8447
8472
8482
8483
8486
8493
8495
8494
8493
8494
8499
8501
8503
8513
8509
8510
8514
8515
8514
8518
8535
8538
8543
8545
8557
8568

In [9]:
import panda as pd

ModuleNotFoundError: No module named 'panda'

In [10]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [11]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [12]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-1.3.5-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.3 MB)
     |████████████████████████████████| 11.3 MB 18.1 MB/s
Collecting numpy>=1.17.3
  Downloading numpy-1.21.5-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.7 MB)
     |████████████████████████████████| 15.7 MB 52.2 MB/s
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: numpy, pandas
  WARNING: The scripts f2py, f2py3 and f2py3.7 are installed in '/home/ulrz/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed numpy-1.21.5 pandas-1.3.5
Note: you may need to restart the kernel to use updated packages.

In [13]:
import pandas as pd

In [14]:
pip install wheel

Defaulting to user installation because normal site-packages is not writeable
Collecting wheel
  Using cached wheel-0.37.1-py2.py3-none-any.whl (35 kB)
Installing collected packages: wheel
  WARNING: The script wheel is installed in '/home/ulrz/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed wheel-0.37.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [2]:
ls

Adventcode.ipynb  Untitled.ipynb   advent/             pyproject.toml*
NNEAP/            Untitled1.ipynb  mount_datasets.py*
NNEDL/            Untitled2.ipynb  poetry.lock

In [3]:
cd advent

/home/ulrz/advent

In [4]:
ls

README.md  day1input.txt

In [5]:
input = pd.read_csv('day1input.txt', header = None)

In [6]:
ls

README.md  day1input.txt

In [7]:
input

         0
0      159
1      158
2      174
3      196
4      197
...    ...
1995  8538
1996  8543
1997  8545
1998  8557
1999  8568

[2000 rows x 1 columns]

In [8]:
print input

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(input)? (1699938142.py, line 1)

In [9]:
print (input)

         0
0      159
1      158
2      174
3      196
4      197
...    ...
1995  8538
1996  8543
1997  8545
1998  8557
1999  8568

[2000 rows x 1 columns]

In [10]:
input = pd.read_csv('day1input.txt', header = Depth)

NameError: name 'Depth' is not defined

In [11]:
del input

In [12]:
input = pd.read_csv('day1input.txt', header = Dybde)

NameError: name 'Dybde' is not defined

In [13]:
input = pd.read_csv('day1input.txt', header = 'Dybde')

ValueError: header must be integer or list of integers

In [14]:
input = pd.read_csv('day1input.txt', header = "Dybde")

ValueError: header must be integer or list of integers

In [15]:
input = pd.read_csv('day1input.txt', names = 'Dybde')

ValueError: Names should be an ordered collection.

In [16]:
input = pd.read_csv('day1input.txt', names = ['Nr', 'Dybde'])

In [17]:
ls input

ls: cannot access input: No such file or directory

In [18]:
cat input

cat: input: No such file or directory

In [19]:
ls

README.md  day1input.txt

In [20]:
print(input)

        Nr  Dybde
0      159    NaN
1      158    NaN
2      174    NaN
3      196    NaN
4      197    NaN
...    ...    ...
1995  8538    NaN
1996  8543    NaN
1997  8545    NaN
1998  8557    NaN
1999  8568    NaN

[2000 rows x 2 columns]

In [21]:
del input

In [22]:
input = pd.read_csv('day1input.txt', names = ['Dybde'])

In [23]:
print(input)

      Dybde
0       159
1       158
2       174
3       196
4       197
...     ...
1995   8538
1996   8543
1997   8545
1998   8557
1999   8568

[2000 rows x 1 columns]

In [24]:
input['diff'] = input['Dybde'] - input['Dybde'].shift(1)

In [25]:
print(input)

      Dybde  diff
0       159   NaN
1       158  -1.0
2       174  16.0
3       196  22.0
4       197   1.0
...     ...   ...
1995   8538   3.0
1996   8543   5.0
1997   8545   2.0
1998   8557  12.0
1999   8568  11.0

[2000 rows x 2 columns]

In [26]:
len(input.loc[input.diff>0]

SyntaxError: unexpected EOF while parsing (3219391262.py, line 1)

In [27]:
len(input.loc[input.diff > 0]

SyntaxError: unexpected EOF while parsing (4042161412.py, line 1)

In [28]:
len(input)

2000

In [29]:
len(input.diff>0)

TypeError: '>' not supported between instances of 'method' and 'int'

In [30]:
len[input.diff>0]

TypeError: '>' not supported between instances of 'method' and 'int'

In [31]:
len(input[diff] > 0)

NameError: name 'diff' is not defined

In [32]:
len(input['diff'] > 0)

2000

In [33]:
cat input

cat: input: No such file or directory

In [34]:
print(input)

      Dybde  diff
0       159   NaN
1       158  -1.0
2       174  16.0
3       196  22.0
4       197   1.0
...     ...   ...
1995   8538   3.0
1996   8543   5.0
1997   8545   2.0
1998   8557  12.0
1999   8568  11.0

[2000 rows x 2 columns]

In [35]:
len(input.query['diff'] > 0)

TypeError: 'method' object is not subscriptable

In [36]:
len(input.query('diff > 0'))

1583

In [39]:
input.head()

   Dybde  diff
0    159   NaN
1    158  -1.0
2    174  16.0
3    196  22.0
4    197   1.0

(0,
 Dybde    159.0
 diff       NaN
 Name: 0, dtype: float64)

In [41]:
next(input.iterrows())

(0,
 Dybde    159.0
 diff       NaN
 Name: 0, dtype: float64)

In [42]:
next(input.iterrows())[1]

Dybde    159.0
diff       NaN
Name: 0, dtype: float64

In [43]:
next(input.iterrows())[2]

IndexError: tuple index out of range

In [44]:
for index, row in input.head(n=1).iterrows():
     print(index, row)

0 Dybde    159.0
diff       NaN
Name: 0, dtype: float64

In [50]:
for index, row in input.head(n=1998).iterrows():
     print(index, row)

0 Dybde    159.0
diff       NaN
Name: 0, dtype: float64
1 Dybde    158.0
diff      -1.0
Name: 1, dtype: float64
2 Dybde    174.0
diff      16.0
Name: 2, dtype: float64
3 Dybde    196.0
diff      22.0
Name: 3, dtype: float64
4 Dybde    197.0
diff       1.0
Name: 4, dtype: float64
5 Dybde    194.0
diff      -3.0
Name: 5, dtype: float64
6 Dybde    209.0
diff      15.0
Name: 6, dtype: float64
7 Dybde    213.0
diff       4.0
Name: 7, dtype: float64
8 Dybde    214.0
diff       1.0
Name: 8, dtype: float64
9 Dybde    222.0
diff       8.0
Name: 9, dtype: float64

In [52]:
for num, row in input.iterrows():
    print(row)

Dybde    159.0
diff       NaN
Name: 0, dtype: float64
Dybde    158.0
diff      -1.0
Name: 1, dtype: float64
Dybde    174.0
diff      16.0
Name: 2, dtype: float64
Dybde    196.0
diff      22.0
Name: 3, dtype: float64
Dybde    197.0
diff       1.0
Name: 4, dtype: float64
Dybde    194.0
diff      -3.0
Name: 5, dtype: float64
Dybde    209.0
diff      15.0
Name: 6, dtype: float64
Dybde    213.0
diff       4.0
Name: 7, dtype: float64
Dybde    214.0
diff       1.0
Name: 8, dtype: float64
Dybde    222.0
diff       8.0
Name: 9, dtype: float64
Dybde    223.0
diff       1.0
Name: 10, dtype: float64
Dybde    228.0
diff       5.0
Name: 11, dtype: float64
Dybde    229.0
diff       1.0
Name: 12, dtype: float64
Dybde    236.0
diff       7.0
Name: 13, dtype: float64
Dybde    237.0
diff       1.0
Name: 14, dtype: float64
Dybde    238.0
diff       1.0
Name: 15, dtype: float64
Dybde    241.0
diff       3.0
Name: 16, dtype: float64
Dybde    248.0
diff       7.0
Name: 17, dtype: float64
Dybde    255.0
diff       7.0
Name: 18, dtype: float64
Dybde    256.0
diff       1.0
Name: 19, dtype: float64
Dybde    257.0
diff       1.0
Name: 20, dtype: float64
Dybde    269.0
diff      12.0
Name: 21, dtype: float64
Dybde    276.0
diff       7.0
Name: 22, dtype: float64
Dybde    292.0
diff      16.0
Name: 23, dtype: float64
Dybde    302.0
diff      10.0
Name: 24, dtype: float64
Dybde    304.0
diff       2.0
Name: 25, dtype: float64
Dybde    308.0
diff       4.0
Name: 26, dtype: float64
Dybde    309.0
diff       1.0
Name: 27, dtype: float64
Dybde    311.0
diff       2.0
Name: 28, dtype: float64
Dybde    315.0
diff       4.0
Name: 29, dtype: float64
Dybde    314.0
diff      -1.0
Name: 30, dtype: float64
Dybde    320.0
diff       6.0
Name: 31, dtype: float64
Dybde    323.0
diff       3.0
Name: 32, dtype: float64
Dybde    324.0
diff       1.0
Name: 33, dtype: float64
Dybde    329.0
diff       5.0
Name: 34, dtype: float64
Dybde    330.0
diff       1.0
Name: 35, dtype: float64
Dybde    311.0
diff     -19.0
Name: 36, dtype: float64
Dybde    340.0
diff      29.0
Name: 37, dtype: float64
Dybde    341.0
diff       1.0
Name: 38, dtype: float64
Dybde    342.0
diff       1.0
Name: 39, dtype: float64
Dybde    341.0
diff      -1.0
Name: 40, dtype: float64
Dybde    347.0
diff       6.0
Name: 41, dtype: float64
Dybde    349.0
diff       2.0
Name: 42, dtype: float64
Dybde    350.0
diff       1.0
Name: 43, dtype: float64
Dybde    367.0
diff      17.0
Name: 44, dtype: float64
Dybde    370.0
diff       3.0
Name: 45, dtype: float64
Dybde    378.0
diff       8.0
Name: 46, dtype: float64
Dybde    379.0
diff       1.0
Name: 47, dtype: float64
Dybde    378.0
diff      -1.0
Name: 48, dtype: float64
Dybde    379.0
diff       1.0
Name: 49, dtype: float64
Dybde    389.0
diff      10.0
Name: 50, dtype: float64
Dybde    390.0
diff       1.0
Name: 51, dtype: float64
Dybde    393.0
diff       3.0
Name: 52, dtype: float64
Dybde    388.0
diff      -5.0
Name: 53, dtype: float64
Dybde    393.0
diff       5.0
Name: 54, dtype: float64
Dybde    402.0
diff       9.0
Name: 55, dtype: float64
Dybde    405.0
diff       3.0
Name: 56, dtype: float64
Dybde    404.0
diff      -1.0
Name: 57, dtype: float64
Dybde    402.0
diff      -2.0
Name: 58, dtype: float64
Dybde    410.0
diff       8.0
Name: 59, dtype: float64
Dybde    411.0
diff       1.0
Name: 60, dtype: float64
Dybde    441.0
diff      30.0
Name: 61, dtype: float64
Dybde    449.0
diff       8.0
Name: 62, dtype: float64
Dybde    448.0
diff      -1.0
Name: 63, dtype: float64
Dybde    449.0
diff       1.0
Name: 64, dtype: float64
Dybde    450.0
diff       1.0
Name: 65, dtype: float64
Dybde    412.0
diff     -38.0
Name: 66, dtype: float64
Dybde    414.0
diff       2.0
Name: 67, dtype: float64
Dybde    415.0
diff       1.0
Name: 68, dtype: float64
Dybde    418.0
diff       3.0
Name: 69, dtype: float64
Dybde    420.0
diff       2.0
Name: 70, dtype: float64
Dybde    440.0
diff      20.0
Name: 71, dtype: float64
Dybde    439.0
diff      -1.0
Name: 72, dtype: float64
Dybde    458.0
diff      19.0
Name: 73, dtype: float64
Dybde    459.0
diff       1.0
Name: 74, dtype: float64
Dybde    457.0
diff      -2.0
Name: 75, dtype: float64
Dybde    463.0
diff       6.0
Name: 76, dtype: float64
Dybde    465.0
diff       2.0
Name: 77, dtype: float64
Dybde    469.0
diff       4.0
Name: 78, dtype: float64
Dybde    470.0
diff       1.0
Name: 79, dtype: float64
Dybde    479.0
diff       9.0
Name: 80, dtype: float64
Dybde    480.0
diff       1.0
Name: 81, dtype: float64
Dybde    481.0
diff       1.0
Name: 82, dtype: float64
Dybde    482.0
diff       1.0
Name: 83, dtype: float64
Dybde    475.0
diff      -7.0
Name: 84, dtype: float64
Dybde    468.0
diff      -7.0
Name: 85, dtype: float64
Dybde    467.0
diff      -1.0
Name: 86, dtype: float64
Dybde    472.0
diff       5.0
Name: 87, dtype: float64
Dybde    484.0
diff      12.0
Name: 88, dtype: float64
Dybde    486.0
diff       2.0
Name: 89, dtype: float64
Dybde    498.0
diff      12.0
Name: 90, dtype: float64
Dybde    489.0
diff      -9.0
Name: 91, dtype: float64
Dybde    493.0
diff       4.0
Name: 92, dtype: float64
Dybde    511.0
diff      18.0
Name: 93, dtype: float64
Dybde    510.0
diff      -1.0
Name: 94, dtype: float64
Dybde    493.0
diff     -17.0
Name: 95, dtype: float64
Dybde    495.0
diff       2.0
Name: 96, dtype: float64
Dybde    494.0
diff      -1.0
Name: 97, dtype: float64
Dybde    514.0
diff      20.0
Name: 98, dtype: float64
Dybde    517.0
diff       3.0
Name: 99, dtype: float64
Dybde    520.0
diff       3.0
Name: 100, dtype: float64
Dybde    521.0
diff       1.0
Name: 101, dtype: float64
Dybde    544.0
diff      23.0
Name: 102, dtype: float64
Dybde    557.0
diff      13.0
Name: 103, dtype: float64
Dybde    563.0
diff       6.0
Name: 104, dtype: float64
Dybde    565.0
diff       2.0
Name: 105, dtype: float64
Dybde    568.0
diff       3.0
Name: 106, dtype: float64
Dybde    572.0
diff       4.0
Name: 107, dtype: float64
Dybde    571.0
diff      -1.0
Name: 108, dtype: float64
Dybde    572.0
diff       1.0
Name: 109, dtype: float64
Dybde    575.0
diff       3.0
Name: 110, dtype: float64
Dybde    584.0
diff       9.0
Name: 111, dtype: float64
Dybde    583.0
diff      -1.0
Name: 112, dtype: float64
Dybde    599.0
diff      16.0
Name: 113, dtype: float64
Dybde    600.0
diff       1.0
Name: 114, dtype: float64
Dybde    605.0
diff       5.0
Name: 115, dtype: float64
Dybde    612.0
diff       7.0
Name: 116, dtype: float64
Dybde    615.0
diff       3.0
Name: 117, dtype: float64
Dybde    618.0
diff       3.0
Name: 118, dtype: float64
Dybde    625.0
diff       7.0
Name: 119, dtype: float64
Dybde    627.0
diff       2.0
Name: 120, dtype: float64
Dybde    633.0
diff       6.0
Name: 121, dtype: float64
Dybde    663.0
diff      30.0
Name: 122, dtype: float64
Dybde    665.0
diff       2.0
Name: 123, dtype: float64
Dybde    666.0
diff       1.0
Name: 124, dtype: float64
Dybde    669.0
diff       3.0
Name: 125, dtype: float64
Dybde    683.0
diff      14.0
Name: 126, dtype: float64
Dybde    706.0
diff      23.0
Name: 127, dtype: float64
Dybde    716.0
diff      10.0
Name: 128, dtype: float64
Dybde    722.0
diff       6.0
Name: 129, dtype: float64
Dybde    731.0
diff       9.0
Name: 130, dtype: float64
Dybde    734.0
diff       3.0
Name: 131, dtype: float64
Dybde    739.0
diff       5.0
Name: 132, dtype: float64
Dybde    741.0
diff       2.0
Name: 133, dtype: float64
Dybde    754.0
diff      13.0
Name: 134, dtype: float64
Dybde    760.0
diff       6.0
Name: 135, dtype: float64
Dybde    765.0
diff       5.0
Name: 136, dtype: float64
Dybde    783.0
diff      18.0
Name: 137, dtype: float64
Dybde    788.0
diff       5.0
Name: 138, dtype: float64
Dybde    795.0
diff       7.0
Name: 139, dtype: float64
Dybde    811.0
diff      16.0
Name: 140, dtype: float64
Dybde    813.0
diff       2.0
Name: 141, dtype: float64
Dybde    818.0
diff       5.0
Name: 142, dtype: float64
Dybde    805.0
diff     -13.0
Name: 143, dtype: float64
Dybde    816.0
diff      11.0
Name: 144, dtype: float64
Dybde    821.0
diff       5.0
Name: 145, dtype: float64
Dybde    829.0
diff       8.0
Name: 146, dtype: float64
Dybde    830.0
diff       1.0
Name: 147, dtype: float64
Dybde    854.0
diff      24.0
Name: 148, dtype: float64
Dybde    855.0
diff       1.0
Name: 149, dtype: float64
Dybde    850.0
diff      -5.0
Name: 150, dtype: float64
Dybde    859.0
diff       9.0
Name: 151, dtype: float64
Dybde    860.0
diff       1.0
Name: 152, dtype: float64
Dybde    866.0
diff       6.0
Name: 153, dtype: float64
Dybde    867.0
diff       1.0
Name: 154, dtype: float64
Dybde    866.0
diff      -1.0
Name: 155, dtype: float64
Dybde    867.0
diff       1.0
Name: 156, dtype: float64
Dybde    874.0
diff       7.0
Name: 157, dtype: float64
Dybde    875.0
diff       1.0
Name: 158, dtype: float64
Dybde    876.0
diff       1.0
Name: 159, dtype: float64
Dybde    870.0
diff      -6.0
Name: 160, dtype: float64
Dybde    875.0
diff       5.0
Name: 161, dtype: float64
Dybde    878.0
diff       3.0
Name: 162, dtype: float64
Dybde    880.0
diff       2.0
Name: 163, dtype: float64
Dybde    884.0
diff       4.0
Name: 164, dtype: float64
Dybde    898.0
diff      14.0
Name: 165, dtype: float64
Dybde    915.0
diff      17.0
Name: 166, dtype: float64
Dybde    918.0
diff       3.0
Name: 167, dtype: float64
Dybde    922.0
diff       4.0
Name: 168, dtype: float64
Dybde    923.0
diff       1.0
Name: 169, dtype: float64
Dybde    949.0
diff      26.0
Name: 170, dtype: float64
Dybde    942.0
diff      -7.0
Name: 171, dtype: float64
Dybde    945.0
diff       3.0
Name: 172, dtype: float64
Dybde    949.0
diff       4.0
Name: 173, dtype: float64
Dybde    970.0
diff      21.0
Name: 174, dtype: float64
Dybde    956.0
diff     -14.0
Name: 175, dtype: float64
Dybde    969.0
diff      13.0
Name: 176, dtype: float64
Dybde    964.0
diff      -5.0
Name: 177, dtype: float64
Dybde    972.0
diff       8.0
Name: 178, dtype: float64
Dybde    973.0
diff       1.0
Name: 179, dtype: float64
Dybde    975.0
diff       2.0
Name: 180, dtype: float64
Dybde    974.0
diff      -1.0
Name: 181, dtype: float64
Dybde    970.0
diff      -4.0
Name: 182, dtype: float64
Dybde    989.0
diff      19.0
Name: 183, dtype: float64
Dybde    990.0
diff       1.0
Name: 184, dtype: float64
Dybde    993.0
diff       3.0
Name: 185, dtype: float64
Dybde    994.0
diff       1.0
Name: 186, dtype: float64
Dybde    1002.0
diff        8.0
Name: 187, dtype: float64
Dybde    1003.0
diff        1.0
Name: 188, dtype: float64
Dybde    1007.0
diff        4.0
Name: 189, dtype: float64
Dybde    1013.0
diff        6.0
Name: 190, dtype: float64
Dybde    1025.0
diff       12.0
Name: 191, dtype: float64
Dybde    1035.0
diff       10.0
Name: 192, dtype: float64
Dybde    1033.0
diff       -2.0
Name: 193, dtype: float64
Dybde    1040.0
diff        7.0
Name: 194, dtype: float64
Dybde    1045.0
diff        5.0
Name: 195, dtype: float64
Dybde    1055.0
diff       10.0
Name: 196, dtype: float64
Dybde    1056.0
diff        1.0
Name: 197, dtype: float64
Dybde    1057.0
diff        1.0
Name: 198, dtype: float64
Dybde    1059.0
diff        2.0
Name: 199, dtype: float64
Dybde    1060.0
diff        1.0
Name: 200, dtype: float64
Dybde    1063.0
diff        3.0
Name: 201, dtype: float64
Dybde    1051.0
diff      -12.0
Name: 202, dtype: float64
Dybde    1056.0
diff        5.0
Name: 203, dtype: float64
Dybde    1057.0
diff        1.0
Name: 204, dtype: float64
Dybde    1047.0
diff      -10.0
Name: 205, dtype: float64
Dybde    1054.0
diff        7.0
Name: 206, dtype: float64
Dybde    1055.0
diff        1.0
Name: 207, dtype: float64
Dybde    1051.0
diff       -4.0
Name: 208, dtype: float64
Dybde    1052.0
diff        1.0
Name: 209, dtype: float64
Dybde    1058.0
diff        6.0
Name: 210, dtype: float64
Dybde    1061.0
diff        3.0
Name: 211, dtype: float64
Dybde    1066.0
diff        5.0
Name: 212, dtype: float64
Dybde    1067.0
diff        1.0
Name: 213, dtype: float64
Dybde    1070.0
diff        3.0
Name: 214, dtype: float64
Dybde    1074.0
diff        4.0
Name: 215, dtype: float64
Dybde    1075.0
diff        1.0
Name: 216, dtype: float64
Dybde    1076.0
diff        1.0
Name: 217, dtype: float64
Dybde    1084.0
diff        8.0
Name: 218, dtype: float64
Dybde    1122.0
diff       38.0
Name: 219, dtype: float64
Dybde    1128.0
diff        6.0
Name: 220, dtype: float64
Dybde    1140.0
diff       12.0
Name: 221, dtype: float64
Dybde    1141.0
diff        1.0
Name: 222, dtype: float64
Dybde    1139.0
diff       -2.0
Name: 223, dtype: float64
Dybde    1152.0
diff       13.0
Name: 224, dtype: float64
Dybde    1151.0
diff       -1.0
Name: 225, dtype: float64
Dybde    1152.0
diff        1.0
Name: 226, dtype: float64
Dybde    1156.0
diff        4.0
Name: 227, dtype: float64
Dybde    1167.0
diff       11.0
Name: 228, dtype: float64
Dybde    1166.0
diff       -1.0
Name: 229, dtype: float64
Dybde    1165.0
diff       -1.0
Name: 230, dtype: float64
Dybde    1169.0
diff        4.0
Name: 231, dtype: float64
Dybde    1162.0
diff       -7.0
Name: 232, dtype: float64
Dybde    1175.0
diff       13.0
Name: 233, dtype: float64
Dybde    1202.0
diff       27.0
Name: 234, dtype: float64
Dybde    1212.0
diff       10.0
Name: 235, dtype: float64
Dybde    1218.0
diff        6.0
Name: 236, dtype: float64
Dybde    1219.0
diff        1.0
Name: 237, dtype: float64
Dybde    1240.0
diff       21.0
Name: 238, dtype: float64
Dybde    1238.0
diff       -2.0
Name: 239, dtype: float64
Dybde    1224.0
diff      -14.0
Name: 240, dtype: float64
Dybde    1230.0
diff        6.0
Name: 241, dtype: float64
Dybde    1245.0
diff       15.0
Name: 242, dtype: float64
Dybde    1253.0
diff        8.0
Name: 243, dtype: float64
Dybde    1285.0
diff       32.0
Name: 244, dtype: float64
Dybde    1295.0
diff       10.0
Name: 245, dtype: float64
Dybde    1297.0
diff        2.0
Name: 246, dtype: float64
Dybde    1309.0
diff       12.0
Name: 247, dtype: float64
Dybde    1323.0
diff       14.0
Name: 248, dtype: float64
Dybde    1329.0
diff        6.0
Name: 249, dtype: float64
Dybde    1333.0
diff        4.0
Name: 250, dtype: float64
Dybde    1336.0
diff        3.0
Name: 251, dtype: float64
Dybde    1339.0
diff        3.0
Name: 252, dtype: float64
Dybde    1318.0
diff      -21.0
Name: 253, dtype: float64
Dybde    1321.0
diff        3.0
Name: 254, dtype: float64
Dybde    1318.0
diff       -3.0
Name: 255, dtype: float64
Dybde    1345.0
diff       27.0
Name: 256, dtype: float64
Dybde    1347.0
diff        2.0
Name: 257, dtype: float64
Dybde    1349.0
diff        2.0
Name: 258, dtype: float64
Dybde    1352.0
diff        3.0
Name: 259, dtype: float64
Dybde    1353.0
diff        1.0
Name: 260, dtype: float64
Dybde    1360.0
diff        7.0
Name: 261, dtype: float64
Dybde    1358.0
diff       -2.0
Name: 262, dtype: float64
Dybde    1345.0
diff      -13.0
Name: 263, dtype: float64
Dybde    1352.0
diff        7.0
Name: 264, dtype: float64
Dybde    1356.0
diff        4.0
Name: 265, dtype: float64
Dybde    1357.0
diff        1.0
Name: 266, dtype: float64
Dybde    1370.0
diff       13.0
Name: 267, dtype: float64
Dybde    1373.0
diff        3.0
Name: 268, dtype: float64
Dybde    1393.0
diff       20.0
Name: 269, dtype: float64
Dybde    1423.0
diff       30.0
Name: 270, dtype: float64
Dybde    1424.0
diff        1.0
Name: 271, dtype: float64
Dybde    1431.0
diff        7.0
Name: 272, dtype: float64
Dybde    1447.0
diff       16.0
Name: 273, dtype: float64
Dybde    1454.0
diff        7.0
Name: 274, dtype: float64
Dybde    1444.0
diff      -10.0
Name: 275, dtype: float64
Dybde    1470.0
diff       26.0
Name: 276, dtype: float64
Dybde    1477.0
diff        7.0
Name: 277, dtype: float64
Dybde    1479.0
diff        2.0
Name: 278, dtype: float64
Dybde    1485.0
diff        6.0
Name: 279, dtype: float64
Dybde    1483.0
diff       -2.0
Name: 280, dtype: float64
Dybde    1497.0
diff       14.0
Name: 281, dtype: float64
Dybde    1518.0
diff       21.0
Name: 282, dtype: float64
Dybde    1536.0
diff       18.0
Name: 283, dtype: float64
Dybde    1539.0
diff        3.0
Name: 284, dtype: float64
Dybde    1544.0
diff        5.0
Name: 285, dtype: float64
Dybde    1549.0
diff        5.0
Name: 286, dtype: float64
Dybde    1558.0
diff        9.0
Name: 287, dtype: float64
Dybde    1557.0
diff       -1.0
Name: 288, dtype: float64
Dybde    1581.0
diff       24.0
Name: 289, dtype: float64
Dybde    1585.0
diff        4.0
Name: 290, dtype: float64
Dybde    1591.0
diff        6.0
Name: 291, dtype: float64
Dybde    1632.0
diff       41.0
Name: 292, dtype: float64
Dybde    1633.0
diff        1.0
Name: 293, dtype: float64
Dybde    1636.0
diff        3.0
Name: 294, dtype: float64
Dybde    1639.0
diff        3.0
Name: 295, dtype: float64
Dybde    1633.0
diff       -6.0
Name: 296, dtype: float64
Dybde    1637.0
diff        4.0
Name: 297, dtype: float64
Dybde    1638.0
diff        1.0
Name: 298, dtype: float64
Dybde    1639.0
diff        1.0
Name: 299, dtype: float64
Dybde    1640.0
diff        1.0
Name: 300, dtype: float64
Dybde    1642.0
diff        2.0
Name: 301, dtype: float64
Dybde    1658.0
diff       16.0
Name: 302, dtype: float64
Dybde    1676.0
diff       18.0
Name: 303, dtype: float64
Dybde    1675.0
diff       -1.0
Name: 304, dtype: float64
Dybde    1707.0
diff       32.0
Name: 305, dtype: float64
Dybde    1708.0
diff        1.0
Name: 306, dtype: float64
Dybde    1709.0
diff        1.0
Name: 307, dtype: float64
Dybde    1710.0
diff        1.0
Name: 308, dtype: float64
Dybde    1711.0
diff        1.0
Name: 309, dtype: float64
Dybde    1715.0
diff        4.0
Name: 310, dtype: float64
Dybde    1707.0
diff       -8.0
Name: 311, dtype: float64
Dybde    1712.0
diff        5.0
Name: 312, dtype: float64
Dybde    1733.0
diff       21.0
Name: 313, dtype: float64
Dybde    1734.0
diff        1.0
Name: 314, dtype: float64
Dybde    1732.0
diff       -2.0
Name: 315, dtype: float64
Dybde    1722.0
diff      -10.0
Name: 316, dtype: float64
Dybde    1730.0
diff        8.0
Name: 317, dtype: float64
Dybde    1746.0
diff       16.0
Name: 318, dtype: float64
Dybde    1747.0
diff        1.0
Name: 319, dtype: float64
Dybde    1748.0
diff        1.0
Name: 320, dtype: float64
Dybde    1749.0
diff        1.0
Name: 321, dtype: float64
Dybde    1755.0
diff        6.0
Name: 322, dtype: float64
Dybde    1759.0
diff        4.0
Name: 323, dtype: float64
Dybde    1771.0
diff       12.0
Name: 324, dtype: float64
Dybde    1772.0
diff        1.0
Name: 325, dtype: float64
Dybde    1771.0
diff       -1.0
Name: 326, dtype: float64
Dybde    1770.0
diff       -1.0
Name: 327, dtype: float64
Dybde    1771.0
diff        1.0
Name: 328, dtype: float64
Dybde    1773.0
diff        2.0
Name: 329, dtype: float64
Dybde    1772.0
diff       -1.0
Name: 330, dtype: float64
Dybde    1771.0
diff       -1.0
Name: 331, dtype: float64
Dybde    1780.0
diff        9.0
Name: 332, dtype: float64
Dybde    1781.0
diff        1.0
Name: 333, dtype: float64
Dybde    1782.0
diff        1.0
Name: 334, dtype: float64
Dybde    1781.0
diff       -1.0
Name: 335, dtype: float64
Dybde    1775.0
diff       -6.0
Name: 336, dtype: float64
Dybde    1786.0
diff       11.0
Name: 337, dtype: float64
Dybde    1798.0
diff       12.0
Name: 338, dtype: float64
Dybde    1814.0
diff       16.0
Name: 339, dtype: float64
Dybde    1818.0
diff        4.0
Name: 340, dtype: float64
Dybde    1826.0
diff        8.0
Name: 341, dtype: float64
Dybde    1791.0
diff      -35.0
Name: 342, dtype: float64
Dybde    1793.0
diff        2.0
Name: 343, dtype: float64
Dybde    1796.0
diff        3.0
Name: 344, dtype: float64
Dybde    1821.0
diff       25.0
Name: 345, dtype: float64
Dybde    1822.0
diff        1.0
Name: 346, dtype: float64
Dybde    1825.0
diff        3.0
Name: 347, dtype: float64
Dybde    1834.0
diff        9.0
Name: 348, dtype: float64
Dybde    1838.0
diff        4.0
Name: 349, dtype: float64
Dybde    1867.0
diff       29.0
Name: 350, dtype: float64
Dybde    1907.0
diff       40.0
Name: 351, dtype: float64
Dybde    1908.0
diff        1.0
Name: 352, dtype: float64

In [54]:
for row in input.iterrows():
    print(row)

(0, Dybde    159.0
diff       NaN
Name: 0, dtype: float64)
(1, Dybde    158.0
diff      -1.0
Name: 1, dtype: float64)
(2, Dybde    174.0
diff      16.0
Name: 2, dtype: float64)
(3, Dybde    196.0
diff      22.0
Name: 3, dtype: float64)
(4, Dybde    197.0
diff       1.0
Name: 4, dtype: float64)
(5, Dybde    194.0
diff      -3.0
Name: 5, dtype: float64)
(6, Dybde    209.0
diff      15.0
Name: 6, dtype: float64)
(7, Dybde    213.0
diff       4.0
Name: 7, dtype: float64)
(8, Dybde    214.0
diff       1.0
Name: 8, dtype: float64)
(9, Dybde    222.0
diff       8.0
Name: 9, dtype: float64)
(10, Dybde    223.0
diff       1.0
Name: 10, dtype: float64)
(11, Dybde    228.0
diff       5.0
Name: 11, dtype: float64)
(12, Dybde    229.0
diff       1.0
Name: 12, dtype: float64)
(13, Dybde    236.0
diff       7.0
Name: 13, dtype: float64)
(14, Dybde    237.0
diff       1.0
Name: 14, dtype: float64)
(15, Dybde    238.0
diff       1.0
Name: 15, dtype: float64)
(16, Dybde    241.0
diff       3.0
Name: 16, dtype: float64)
(17, Dybde    248.0
diff       7.0
Name: 17, dtype: float64)
(18, Dybde    255.0
diff       7.0
Name: 18, dtype: float64)
(19, Dybde    256.0
diff       1.0
Name: 19, dtype: float64)
(20, Dybde    257.0
diff       1.0
Name: 20, dtype: float64)
(21, Dybde    269.0
diff      12.0
Name: 21, dtype: float64)
(22, Dybde    276.0
diff       7.0
Name: 22, dtype: float64)
(23, Dybde    292.0
diff      16.0
Name: 23, dtype: float64)
(24, Dybde    302.0
diff      10.0
Name: 24, dtype: float64)
(25, Dybde    304.0
diff       2.0
Name: 25, dtype: float64)
(26, Dybde    308.0
diff       4.0
Name: 26, dtype: float64)
(27, Dybde    309.0
diff       1.0
Name: 27, dtype: float64)
(28, Dybde    311.0
diff       2.0
Name: 28, dtype: float64)
(29, Dybde    315.0
diff       4.0
Name: 29, dtype: float64)
(30, Dybde    314.0
diff      -1.0
Name: 30, dtype: float64)
(31, Dybde    320.0
diff       6.0
Name: 31, dtype: float64)
(32, Dybde    323.0
diff       3.0
Name: 32, dtype: float64)
(33, Dybde    324.0
diff       1.0
Name: 33, dtype: float64)
(34, Dybde    329.0
diff       5.0
Name: 34, dtype: float64)
(35, Dybde    330.0
diff       1.0
Name: 35, dtype: float64)
(36, Dybde    311.0
diff     -19.0
Name: 36, dtype: float64)
(37, Dybde    340.0
diff      29.0
Name: 37, dtype: float64)
(38, Dybde    341.0
diff       1.0
Name: 38, dtype: float64)
(39, Dybde    342.0
diff       1.0
Name: 39, dtype: float64)
(40, Dybde    341.0
diff      -1.0
Name: 40, dtype: float64)
(41, Dybde    347.0
diff       6.0
Name: 41, dtype: float64)
(42, Dybde    349.0
diff       2.0
Name: 42, dtype: float64)
(43, Dybde    350.0
diff       1.0
Name: 43, dtype: float64)
(44, Dybde    367.0
diff      17.0
Name: 44, dtype: float64)
(45, Dybde    370.0
diff       3.0
Name: 45, dtype: float64)
(46, Dybde    378.0
diff       8.0
Name: 46, dtype: float64)
(47, Dybde    379.0
diff       1.0
Name: 47, dtype: float64)
(48, Dybde    378.0
diff      -1.0
Name: 48, dtype: float64)
(49, Dybde    379.0
diff       1.0
Name: 49, dtype: float64)
(50, Dybde    389.0
diff      10.0
Name: 50, dtype: float64)
(51, Dybde    390.0
diff       1.0
Name: 51, dtype: float64)
(52, Dybde    393.0
diff       3.0
Name: 52, dtype: float64)
(53, Dybde    388.0
diff      -5.0
Name: 53, dtype: float64)
(54, Dybde    393.0
diff       5.0
Name: 54, dtype: float64)
(55, Dybde    402.0
diff       9.0
Name: 55, dtype: float64)
(56, Dybde    405.0
diff       3.0
Name: 56, dtype: float64)
(57, Dybde    404.0
diff      -1.0
Name: 57, dtype: float64)
(58, Dybde    402.0
diff      -2.0
Name: 58, dtype: float64)
(59, Dybde    410.0
diff       8.0
Name: 59, dtype: float64)
(60, Dybde    411.0
diff       1.0
Name: 60, dtype: float64)
(61, Dybde    441.0
diff      30.0
Name: 61, dtype: float64)
(62, Dybde    449.0
diff       8.0
Name: 62, dtype: float64)
(63, Dybde    448.0
diff      -1.0
Name: 63, dtype: float64)
(64, Dybde    449.0
diff       1.0
Name: 64, dtype: float64)
(65, Dybde    450.0
diff       1.0
Name: 65, dtype: float64)
(66, Dybde    412.0
diff     -38.0
Name: 66, dtype: float64)
(67, Dybde    414.0
diff       2.0
Name: 67, dtype: float64)
(68, Dybde    415.0
diff       1.0
Name: 68, dtype: float64)
(69, Dybde    418.0
diff       3.0
Name: 69, dtype: float64)
(70, Dybde    420.0
diff       2.0
Name: 70, dtype: float64)
(71, Dybde    440.0
diff      20.0
Name: 71, dtype: float64)
(72, Dybde    439.0
diff      -1.0
Name: 72, dtype: float64)
(73, Dybde    458.0
diff      19.0
Name: 73, dtype: float64)
(74, Dybde    459.0
diff       1.0
Name: 74, dtype: float64)
(75, Dybde    457.0
diff      -2.0
Name: 75, dtype: float64)
(76, Dybde    463.0
diff       6.0
Name: 76, dtype: float64)
(77, Dybde    465.0
diff       2.0
Name: 77, dtype: float64)
(78, Dybde    469.0
diff       4.0
Name: 78, dtype: float64)
(79, Dybde    470.0
diff       1.0
Name: 79, dtype: float64)
(80, Dybde    479.0
diff       9.0
Name: 80, dtype: float64)
(81, Dybde    480.0
diff       1.0
Name: 81, dtype: float64)
(82, Dybde    481.0
diff       1.0
Name: 82, dtype: float64)
(83, Dybde    482.0
diff       1.0
Name: 83, dtype: float64)
(84, Dybde    475.0
diff      -7.0
Name: 84, dtype: float64)
(85, Dybde    468.0
diff      -7.0
Name: 85, dtype: float64)
(86, Dybde    467.0
diff      -1.0
Name: 86, dtype: float64)
(87, Dybde    472.0
diff       5.0
Name: 87, dtype: float64)
(88, Dybde    484.0
diff      12.0
Name: 88, dtype: float64)
(89, Dybde    486.0
diff       2.0
Name: 89, dtype: float64)
(90, Dybde    498.0
diff      12.0
Name: 90, dtype: float64)
(91, Dybde    489.0
diff      -9.0
Name: 91, dtype: float64)
(92, Dybde    493.0
diff       4.0
Name: 92, dtype: float64)
(93, Dybde    511.0
diff      18.0
Name: 93, dtype: float64)
(94, Dybde    510.0
diff      -1.0
Name: 94, dtype: float64)
(95, Dybde    493.0
diff     -17.0
Name: 95, dtype: float64)
(96, Dybde    495.0
diff       2.0
Name: 96, dtype: float64)
(97, Dybde    494.0
diff      -1.0
Name: 97, dtype: float64)
(98, Dybde    514.0
diff      20.0
Name: 98, dtype: float64)
(99, Dybde    517.0
diff       3.0
Name: 99, dtype: float64)
(100, Dybde    520.0
diff       3.0
Name: 100, dtype: float64)
(101, Dybde    521.0
diff       1.0
Name: 101, dtype: float64)
(102, Dybde    544.0
diff      23.0
Name: 102, dtype: float64)
(103, Dybde    557.0
diff      13.0
Name: 103, dtype: float64)
(104, Dybde    563.0
diff       6.0
Name: 104, dtype: float64)
(105, Dybde    565.0
diff       2.0
Name: 105, dtype: float64)
(106, Dybde    568.0
diff       3.0
Name: 106, dtype: float64)
(107, Dybde    572.0
diff       4.0
Name: 107, dtype: float64)
(108, Dybde    571.0
diff      -1.0
Name: 108, dtype: float64)
(109, Dybde    572.0
diff       1.0
Name: 109, dtype: float64)
(110, Dybde    575.0
diff       3.0
Name: 110, dtype: float64)
(111, Dybde    584.0
diff       9.0
Name: 111, dtype: float64)
(112, Dybde    583.0
diff      -1.0
Name: 112, dtype: float64)
(113, Dybde    599.0
diff      16.0
Name: 113, dtype: float64)
(114, Dybde    600.0
diff       1.0
Name: 114, dtype: float64)
(115, Dybde    605.0
diff       5.0
Name: 115, dtype: float64)
(116, Dybde    612.0
diff       7.0
Name: 116, dtype: float64)
(117, Dybde    615.0
diff       3.0
Name: 117, dtype: float64)
(118, Dybde    618.0
diff       3.0
Name: 118, dtype: float64)
(119, Dybde    625.0
diff       7.0
Name: 119, dtype: float64)
(120, Dybde    627.0
diff       2.0
Name: 120, dtype: float64)
(121, Dybde    633.0
diff       6.0
Name: 121, dtype: float64)
(122, Dybde    663.0
diff      30.0
Name: 122, dtype: float64)
(123, Dybde    665.0
diff       2.0
Name: 123, dtype: float64)
(124, Dybde    666.0
diff       1.0
Name: 124, dtype: float64)
(125, Dybde    669.0
diff       3.0
Name: 125, dtype: float64)
(126, Dybde    683.0
diff      14.0
Name: 126, dtype: float64)
(127, Dybde    706.0
diff      23.0
Name: 127, dtype: float64)
(128, Dybde    716.0
diff      10.0
Name: 128, dtype: float64)
(129, Dybde    722.0
diff       6.0
Name: 129, dtype: float64)
(130, Dybde    731.0
diff       9.0
Name: 130, dtype: float64)
(131, Dybde    734.0
diff       3.0
Name: 131, dtype: float64)
(132, Dybde    739.0
diff       5.0
Name: 132, dtype: float64)
(133, Dybde    741.0
diff       2.0
Name: 133, dtype: float64)
(134, Dybde    754.0
diff      13.0
Name: 134, dtype: float64)
(135, Dybde    760.0
diff       6.0
Name: 135, dtype: float64)
(136, Dybde    765.0
diff       5.0
Name: 136, dtype: float64)
(137, Dybde    783.0
diff      18.0
Name: 137, dtype: float64)
(138, Dybde    788.0
diff       5.0
Name: 138, dtype: float64)
(139, Dybde    795.0
diff       7.0
Name: 139, dtype: float64)
(140, Dybde    811.0
diff      16.0
Name: 140, dtype: float64)
(141, Dybde    813.0
diff       2.0
Name: 141, dtype: float64)
(142, Dybde    818.0
diff       5.0
Name: 142, dtype: float64)
(143, Dybde    805.0
diff     -13.0
Name: 143, dtype: float64)
(144, Dybde    816.0
diff      11.0
Name: 144, dtype: float64)
(145, Dybde    821.0
diff       5.0
Name: 145, dtype: float64)
(146, Dybde    829.0
diff       8.0
Name: 146, dtype: float64)
(147, Dybde    830.0
diff       1.0
Name: 147, dtype: float64)
(148, Dybde    854.0
diff      24.0
Name: 148, dtype: float64)
(149, Dybde    855.0
diff       1.0
Name: 149, dtype: float64)
(150, Dybde    850.0
diff      -5.0
Name: 150, dtype: float64)
(151, Dybde    859.0
diff       9.0
Name: 151, dtype: float64)
(152, Dybde    860.0
diff       1.0
Name: 152, dtype: float64)
(153, Dybde    866.0
diff       6.0
Name: 153, dtype: float64)
(154, Dybde    867.0
diff       1.0
Name: 154, dtype: float64)
(155, Dybde    866.0
diff      -1.0
Name: 155, dtype: float64)
(156, Dybde    867.0
diff       1.0
Name: 156, dtype: float64)
(157, Dybde    874.0
diff       7.0
Name: 157, dtype: float64)
(158, Dybde    875.0
diff       1.0
Name: 158, dtype: float64)
(159, Dybde    876.0
diff       1.0
Name: 159, dtype: float64)
(160, Dybde    870.0
diff      -6.0
Name: 160, dtype: float64)
(161, Dybde    875.0
diff       5.0
Name: 161, dtype: float64)
(162, Dybde    878.0
diff       3.0
Name: 162, dtype: float64)
(163, Dybde    880.0
diff       2.0
Name: 163, dtype: float64)
(164, Dybde    884.0
diff       4.0
Name: 164, dtype: float64)
(165, Dybde    898.0
diff      14.0
Name: 165, dtype: float64)
(166, Dybde    915.0
diff      17.0
Name: 166, dtype: float64)
(167, Dybde    918.0
diff       3.0
Name: 167, dtype: float64)
(168, Dybde    922.0
diff       4.0
Name: 168, dtype: float64)
(169, Dybde    923.0
diff       1.0
Name: 169, dtype: float64)
(170, Dybde    949.0
diff      26.0
Name: 170, dtype: float64)
(171, Dybde    942.0
diff      -7.0
Name: 171, dtype: float64)
(172, Dybde    945.0
diff       3.0
Name: 172, dtype: float64)
(173, Dybde    949.0
diff       4.0
Name: 173, dtype: float64)
(174, Dybde    970.0
diff      21.0
Name: 174, dtype: float64)
(175, Dybde    956.0
diff     -14.0
Name: 175, dtype: float64)
(176, Dybde    969.0
diff      13.0
Name: 176, dtype: float64)
(177, Dybde    964.0
diff      -5.0
Name: 177, dtype: float64)
(178, Dybde    972.0
diff       8.0
Name: 178, dtype: float64)
(179, Dybde    973.0
diff       1.0
Name: 179, dtype: float64)
(180, Dybde    975.0
diff       2.0
Name: 180, dtype: float64)
(181, Dybde    974.0
diff      -1.0
Name: 181, dtype: float64)
(182, Dybde    970.0
diff      -4.0
Name: 182, dtype: float64)
(183, Dybde    989.0
diff      19.0
Name: 183, dtype: float64)
(184, Dybde    990.0
diff       1.0
Name: 184, dtype: float64)
(185, Dybde    993.0
diff       3.0
Name: 185, dtype: float64)
(186, Dybde    994.0
diff       1.0
Name: 186, dtype: float64)
(187, Dybde    1002.0
diff        8.0
Name: 187, dtype: float64)
(188, Dybde    1003.0
diff        1.0
Name: 188, dtype: float64)
(189, Dybde    1007.0
diff        4.0
Name: 189, dtype: float64)
(190, Dybde    1013.0
diff        6.0
Name: 190, dtype: float64)
(191, Dybde    1025.0
diff       12.0
Name: 191, dtype: float64)
(192, Dybde    1035.0
diff       10.0
Name: 192, dtype: float64)
(193, Dybde    1033.0
diff       -2.0
Name: 193, dtype: float64)
(194, Dybde    1040.0
diff        7.0
Name: 194, dtype: float64)
(195, Dybde    1045.0
diff        5.0
Name: 195, dtype: float64)
(196, Dybde    1055.0
diff       10.0
Name: 196, dtype: float64)
(197, Dybde    1056.0
diff        1.0
Name: 197, dtype: float64)
(198, Dybde    1057.0
diff        1.0
Name: 198, dtype: float64)
(199, Dybde    1059.0
diff        2.0
Name: 199, dtype: float64)
(200, Dybde    1060.0
diff        1.0
Name: 200, dtype: float64)
(201, Dybde    1063.0
diff        3.0
Name: 201, dtype: float64)
(202, Dybde    1051.0
diff      -12.0
Name: 202, dtype: float64)
(203, Dybde    1056.0
diff        5.0
Name: 203, dtype: float64)
(204, Dybde    1057.0
diff        1.0
Name: 204, dtype: float64)
(205, Dybde    1047.0
diff      -10.0
Name: 205, dtype: float64)
(206, Dybde    1054.0
diff        7.0
Name: 206, dtype: float64)
(207, Dybde    1055.0
diff        1.0
Name: 207, dtype: float64)
(208, Dybde    1051.0
diff       -4.0
Name: 208, dtype: float64)
(209, Dybde    1052.0
diff        1.0
Name: 209, dtype: float64)
(210, Dybde    1058.0
diff        6.0
Name: 210, dtype: float64)
(211, Dybde    1061.0
diff        3.0
Name: 211, dtype: float64)
(212, Dybde    1066.0
diff        5.0
Name: 212, dtype: float64)
(213, Dybde    1067.0
diff        1.0
Name: 213, dtype: float64)
(214, Dybde    1070.0
diff        3.0
Name: 214, dtype: float64)
(215, Dybde    1074.0
diff        4.0
Name: 215, dtype: float64)
(216, Dybde    1075.0
diff        1.0
Name: 216, dtype: float64)
(217, Dybde    1076.0
diff        1.0
Name: 217, dtype: float64)
(218, Dybde    1084.0
diff        8.0
Name: 218, dtype: float64)
(219, Dybde    1122.0
diff       38.0
Name: 219, dtype: float64)
(220, Dybde    1128.0
diff        6.0
Name: 220, dtype: float64)
(221, Dybde    1140.0
diff       12.0
Name: 221, dtype: float64)
(222, Dybde    1141.0
diff        1.0
Name: 222, dtype: float64)
(223, Dybde    1139.0
diff       -2.0
Name: 223, dtype: float64)
(224, Dybde    1152.0
diff       13.0
Name: 224, dtype: float64)
(225, Dybde    1151.0
diff       -1.0
Name: 225, dtype: float64)
(226, Dybde    1152.0
diff        1.0
Name: 226, dtype: float64)
(227, Dybde    1156.0
diff        4.0
Name: 227, dtype: float64)
(228, Dybde    1167.0
diff       11.0
Name: 228, dtype: float64)
(229, Dybde    1166.0
diff       -1.0
Name: 229, dtype: float64)
(230, Dybde    1165.0
diff       -1.0
Name: 230, dtype: float64)
(231, Dybde    1169.0
diff        4.0
Name: 231, dtype: float64)
(232, Dybde    1162.0
diff       -7.0
Name: 232, dtype: float64)
(233, Dybde    1175.0
diff       13.0
Name: 233, dtype: float64)
(234, Dybde    1202.0
diff       27.0
Name: 234, dtype: float64)
(235, Dybde    1212.0
diff       10.0
Name: 235, dtype: float64)
(236, Dybde    1218.0
diff        6.0
Name: 236, dtype: float64)
(237, Dybde    1219.0
diff        1.0
Name: 237, dtype: float64)
(238, Dybde    1240.0
diff       21.0
Name: 238, dtype: float64)
(239, Dybde    1238.0
diff       -2.0
Name: 239, dtype: float64)
(240, Dybde    1224.0
diff      -14.0
Name: 240, dtype: float64)
(241, Dybde    1230.0
diff        6.0
Name: 241, dtype: float64)
(242, Dybde    1245.0
diff       15.0
Name: 242, dtype: float64)
(243, Dybde    1253.0
diff        8.0
Name: 243, dtype: float64)
(244, Dybde    1285.0
diff       32.0
Name: 244, dtype: float64)
(245, Dybde    1295.0
diff       10.0
Name: 245, dtype: float64)
(246, Dybde    1297.0
diff        2.0
Name: 246, dtype: float64)
(247, Dybde    1309.0
diff       12.0
Name: 247, dtype: float64)
(248, Dybde    1323.0
diff       14.0
Name: 248, dtype: float64)
(249, Dybde    1329.0
diff        6.0
Name: 249, dtype: float64)
(250, Dybde    1333.0
diff        4.0
Name: 250, dtype: float64)
(251, Dybde    1336.0
diff        3.0
Name: 251, dtype: float64)
(252, Dybde    1339.0
diff        3.0
Name: 252, dtype: float64)
(253, Dybde    1318.0
diff      -21.0
Name: 253, dtype: float64)
(254, Dybde    1321.0
diff        3.0
Name: 254, dtype: float64)
(255, Dybde    1318.0
diff       -3.0
Name: 255, dtype: float64)
(256, Dybde    1345.0
diff       27.0
Name: 256, dtype: float64)
(257, Dybde    1347.0
diff        2.0
Name: 257, dtype: float64)
(258, Dybde    1349.0
diff        2.0
Name: 258, dtype: float64)
(259, Dybde    1352.0
diff        3.0
Name: 259, dtype: float64)
(260, Dybde    1353.0
diff        1.0
Name: 260, dtype: float64)
(261, Dybde    1360.0
diff        7.0
Name: 261, dtype: float64)
(262, Dybde    1358.0
diff       -2.0
Name: 262, dtype: float64)
(263, Dybde    1345.0
diff      -13.0
Name: 263, dtype: float64)
(264, Dybde    1352.0
diff        7.0
Name: 264, dtype: float64)
(265, Dybde    1356.0
diff        4.0
Name: 265, dtype: float64)
(266, Dybde    1357.0
diff        1.0
Name: 266, dtype: float64)
(267, Dybde    1370.0
diff       13.0
Name: 267, dtype: float64)
(268, Dybde    1373.0
diff        3.0
Name: 268, dtype: float64)
(269, Dybde    1393.0
diff       20.0
Name: 269, dtype: float64)
(270, Dybde    1423.0
diff       30.0
Name: 270, dtype: float64)
(271, Dybde    1424.0
diff        1.0
Name: 271, dtype: float64)
(272, Dybde    1431.0
diff        7.0
Name: 272, dtype: float64)
(273, Dybde    1447.0
diff       16.0
Name: 273, dtype: float64)
(274, Dybde    1454.0
diff        7.0
Name: 274, dtype: float64)
(275, Dybde    1444.0
diff      -10.0
Name: 275, dtype: float64)
(276, Dybde    1470.0
diff       26.0
Name: 276, dtype: float64)
(277, Dybde    1477.0
diff        7.0
Name: 277, dtype: float64)
(278, Dybde    1479.0
diff        2.0
Name: 278, dtype: float64)
(279, Dybde    1485.0
diff        6.0
Name: 279, dtype: float64)
(280, Dybde    1483.0
diff       -2.0
Name: 280, dtype: float64)
(281, Dybde    1497.0
diff       14.0
Name: 281, dtype: float64)
(282, Dybde    1518.0
diff       21.0
Name: 282, dtype: float64)
(283, Dybde    1536.0
diff       18.0
Name: 283, dtype: float64)
(284, Dybde    1539.0
diff        3.0
Name: 284, dtype: float64)
(285, Dybde    1544.0
diff        5.0
Name: 285, dtype: float64)
(286, Dybde    1549.0
diff        5.0
Name: 286, dtype: float64)
(287, Dybde    1558.0
diff        9.0
Name: 287, dtype: float64)
(288, Dybde    1557.0
diff       -1.0
Name: 288, dtype: float64)
(289, Dybde    1581.0
diff       24.0
Name: 289, dtype: float64)
(290, Dybde    1585.0
diff        4.0
Name: 290, dtype: float64)
(291, Dybde    1591.0
diff        6.0
Name: 291, dtype: float64)
(292, Dybde    1632.0
diff       41.0
Name: 292, dtype: float64)
(293, Dybde    1633.0
diff        1.0
Name: 293, dtype: float64)
(294, Dybde    1636.0
diff        3.0
Name: 294, dtype: float64)
(295, Dybde    1639.0
diff        3.0
Name: 295, dtype: float64)
(296, Dybde    1633.0
diff       -6.0
Name: 296, dtype: float64)
(297, Dybde    1637.0
diff        4.0
Name: 297, dtype: float64)
(298, Dybde    1638.0
diff        1.0
Name: 298, dtype: float64)
(299, Dybde    1639.0
diff        1.0
Name: 299, dtype: float64)
(300, Dybde    1640.0
diff        1.0
Name: 300, dtype: float64)
(301, Dybde    1642.0
diff        2.0
Name: 301, dtype: float64)
(302, Dybde    1658.0
diff       16.0
Name: 302, dtype: float64)
(303, Dybde    1676.0
diff       18.0
Name: 303, dtype: float64)
(304, Dybde    1675.0
diff       -1.0
Name: 304, dtype: float64)
(305, Dybde    1707.0
diff       32.0
Name: 305, dtype: float64)
(306, Dybde    1708.0
diff        1.0
Name: 306, dtype: float64)
(307, Dybde    1709.0
diff        1.0
Name: 307, dtype: float64)
(308, Dybde    1710.0
diff        1.0
Name: 308, dtype: float64)
(309, Dybde    1711.0
diff        1.0
Name: 309, dtype: float64)
(310, Dybde    1715.0
diff        4.0
Name: 310, dtype: float64)
(311, Dybde    1707.0
diff       -8.0
Name: 311, dtype: float64)
(312, Dybde    1712.0
diff        5.0
Name: 312, dtype: float64)
(313, Dybde    1733.0
diff       21.0
Name: 313, dtype: float64)
(314, Dybde    1734.0
diff        1.0
Name: 314, dtype: float64)
(315, Dybde    1732.0
diff       -2.0
Name: 315, dtype: float64)
(316, Dybde    1722.0
diff      -10.0

In [55]:
list = []

In [57]:
for i in input:
  i = input.shift(-1)+input.shift(0)+input.shift(1)
    list.append(i)

IndentationError: unexpected indent (1842060586.py, line 3)

In [92]:
print(input[column=1])

SyntaxError: invalid syntax (3957449816.py, line 1)

In [93]:
print(input)

      Dybde  diff Rolling
0       159   NaN
1       158  -1.0
2       174  16.0
3       196  22.0
4       197   1.0
...     ...   ...     ...
1995   8538   3.0
1996   8543   5.0
1997   8545   2.0
1998   8557  12.0
1999   8568  11.0

[2000 rows x 3 columns]

In [95]:
print(input.Dybde)

0        159
1        158
2        174
3        196
4        197
        ...
1995    8538
1996    8543
1997    8545
1998    8557
1999    8568
Name: Dybde, Length: 2000, dtype: int64

In [100]:
print(input.Dybde)

0        159
1        158
2        174
3        196
4        197
        ...
1995    8538
1996    8543
1997    8545
1998    8557
1999    8568
Name: Dybde, Length: 2000, dtype: int64

In [101]:
input.rolling = input.Dybde+1

In [102]:
print (input.rolling)

0        160
1        159
2        175
3        197
4        198
        ...
1995    8539
1996    8544
1997    8546
1998    8558
1999    8569
Name: Dybde, Length: 2000, dtype: int64

In [112]:
input["rolling"] = input.Dybde.rolling(window=3).sum()

In [113]:
input

      Dybde  diff Rolling  rolling
0       159   NaN              NaN
1       158  -1.0              NaN
2       174  16.0            491.0
3       196  22.0            528.0
4       197   1.0            567.0
...     ...   ...     ...      ...
1995   8538   3.0          25591.0
1996   8543   5.0          25616.0
1997   8545   2.0          25626.0
1998   8557  12.0          25645.0
1999   8568  11.0          25670.0

[2000 rows x 4 columns]

In [114]:
input["shifted_dybde"] = input.Dybde.shift()

In [117]:
input.Dybde + input.shifted_dybde

0           NaN
1         317.0
2         332.0
3         370.0
4         393.0
         ...
1995    17073.0
1996    17081.0
1997    17088.0
1998    17102.0
1999    17125.0
Length: 2000, dtype: float64

In [127]:
cumsum = 0
for i, row in input.head().iterrows():
   cumsum = cumsum + row.Dybde

print(cumsum)

884

In [ ]:
input["shifted"] = pd.NA

In [170]:
for i, row in input.head(1999).iterrows():
    if i>0:
       input.loc[i, "sum"] = input.loc[i-1, "Dybde"] + input.loc[i, "Dybde"] + input.loc[i+1, "Dybde"]

In [171]:
input

      Dybde  diff Rolling  rolling  shifted_dybde shifted sumdiff      sum
0       159   NaN              NaN            NaN    <NA>    <NA>      NaN
1       158  -1.0              NaN          159.0     587    <NA>    491.0
2       174  16.0            491.0          158.0     528      37    528.0
3       196  22.0            528.0          174.0     567      39    567.0
4       197   1.0            567.0          196.0     587      20    587.0
...     ...   ...     ...      ...            ...     ...     ...      ...
1995   8538   3.0          25591.0         8535.0   25616      25  25616.0
1996   8543   5.0          25616.0         8538.0   25626      10  25626.0
1997   8545   2.0          25626.0         8543.0   25645      19  25645.0
1998   8557  12.0          25645.0         8545.0    <NA>    <NA>  25670.0
1999   8568  11.0          25670.0         8557.0    <NA>    <NA>      NaN

[2000 rows x 8 columns]

6

In [ ]:
input.columns

In [173]:
input['sumdiff'] = input['sum'] - input['sum'].shift(1)

In [174]:
len(input.query('sumdiff > 0'))

1627

In [162]:
input.shifted

0        <NA>
1         491
2         528
3         567
4         587
        ...
1995    25616
1996    25626
1997    25645
1998     <NA>
1999     <NA>
Name: shifted, Length: 2000, dtype: object